<h1><%= @track.name %></h1>
<h4>Navigate: <%= render_heirarchy(@heirarchy) %></h4>
<div>
  <label> Track Type:
    <%= @track.track_type %>
  </label>
</div>
<div> Lyrics:
    <%= @track.lyrics %>
</div>


