<%= link_to "post", post_url(@comment.post) %>
<h1><%= @comment.user.email %> Said:</h1>
<pre><%= @comment.content %></pre>

<%= render 'shared/comment_form', post: @comment.post, commentable_id: @comment.id, commentable_type: @comment.class.name %>
