<h1><%=@user.email%></h1>
<% @user.subs.each do |sub|%>
<%= link_to sub.title, sub_url(sub) %>
<% end %>
<% @user.comments.each do |comment| %>
<%= render 'shared/comment', comment:comment %>
<% end %>