<h1>Leest of Subroodets</h1>
<%= button_to 'Create a Subroodit', new_user_sub_url(current_user), method: :get, class: "btn btn-md btn-info" if logged_in? %>
<%= render 'shared/index', items: @subs %>

