
<div class="col-md-6 col-md-offset-3">
  <div class="h1">New Sub</div>
  <form action="<%=subs_url%>" method="post">
    <%= csrf_inject %>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon ">Subrewdet Name</div>
        <input name="sub[title]" class="form-control" placeholder="Title" />
      </div>
      <div class="input-group input-group-large">
        <label for="sub-descript" class="input-group-addon control-label">Description</label>
        <textarea name="sub[description]" class="form-control" placeholder="Description" id="sub-descript" rows="4"></textarea>
      </div>

    </div>


    <input type='submit' class='btn btn-info form-control' value="Submit"/>
  </form>
</div>

