// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post_title {

}

.post_content {
  border: 2px solid black;
  border-radius: 4px;
  background-color: gainsboro;
  padding: 2em;
}

.post_mini:hover {
  background-color: #DADADA;
}